<a href="https://colab.research.google.com/github/Tommy-Appleby/Group-3/blob/master/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
import pandas as pd
import numpy as np

hello world

In [ ]:
e.colab import from googldrive
drive.mount('/content/grive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code
Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
dataSet = pd.read_csv('/content/grive/MyDrive/Social_Network_Ads (1).csv')
dataSet.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
from sklearn import preprocessing
String_to_int=preprocessing.LabelEncoder()
dataSet = dataSet.apply(String_to_int.fit_transform)

dataSet.head()

   User ID  Gender  Age  EstimatedSalary  Purchased
0       97       1    1                4          0
1      392       1   17                5          0
2      155       0    8               26          0
3       64       0    9               39          0
4      382       1    1               57          0

In [ ]:

msk = np.random.rand(len(dataSet)) <= 0.7
train = dataSet[msk]
test = dataSet[~msk]
y = train['Purchased']
X = train.drop(['Purchased'], axis = 1)

In [ ]:
X.head()

   User ID  Gender  Age  EstimatedSalary
0       97       1    1                4
1      392       1   17                5
2      155       0    8               26
3       64       0    9               39
6       55       0    9               65

In [ ]:
from sklearn import tree

clf = tree.DecisionTreeClassifier(criterion = 'entropy')
clf = clf.fit(X, y)

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO 
from IPython.display import Image
import pydotplus
value = ['User ID', 'Gender', 'Age', 'EstimatedSalary']
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,
                filled=True, rounded=True, 
                special_characters=True, feature_names = value)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph.create_png())

ModuleNotFoundError: ignored

In [ ]:
X_pred = clf.predict(X)

X_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0])

In [ ]:
X_pred == y

0      True
1      True
2      True
3      True
6      True
       ...
390    True
394    True
396    True
397    True
398    True
Name: Purchased, Length: 275, dtype: bool

In [ ]:
print("%s out of %s are correct!" %((X_pred==y).sum(), len(X_pred)))
print("Accuracy: %s" % (((X_pred==y).sum()/len(X_pred))*100))

275 out of 275 are correct!
Accuracy: 100.0

In [ ]:
test.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
4       382       1    1               57          0
5       263       1    9               40          0
8        61       1    7               17          0
9       260       0   17               47          0
14      102       1    0               63          0

In [ ]:
from sklearn import preprocessing
String_to_int=preprocessing.LabelEncoder()
test = test.apply(String_to_int.fit_transform)

In [ ]:
y = test['Purchased']
X = test.drop(['Purchased'], axis = 1)

In [ ]:
X_pred = clf.predict(X)

X_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1])

In [ ]:
X_pred == y

4       True
5       True
8       True
9       True
14      True
       ...
391     True
392    False
393     True
395    False
399     True
Name: Purchased, Length: 125, dtype: bool

In [ ]:
print("%s out of %s are correct!" %((X_pred==y).sum(), len(X_pred)))
print("Accuracy: %s" % (((X_pred==y).sum()/len(X_pred))*100))

108 out of 125 are correct!
Accuracy: 86.4